/* Importing Tinos font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

/* General body styling */
body {
    font-family: 'Tinos', serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

/* Container styling for the form */
.container {
    max-width: 700px;
    margin-top: 30px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(236, 190, 190, 0.468);
    width: 100%;
}

/* Header styling */
h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

/* Form label styling */
form label {
    font-weight: bold;
    margin-top: 15px;
}

/* Input, select, and textarea styling */
form input,
form select,
form textarea {
    width: 100%; /* Full width for input fields */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #f1c4d2;
    border-radius: 4px;
    font-size: 1rem;
    display: block;
}

/* Button styling */
button {
    width: 70%;
    padding: 12px;
    background-color: #b7748b;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #f4aecb;
}

/* Add/Delete Button styling */
.add-btn,
.delete-btn {
    background-color: #b7748b;
    color: white;
    font-size: 1rem;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
}

.add-btn:hover,
.delete-btn:hover {
    background-color: #f4aecb;
}

.delete-btn {
    background-color: #c43276fb; 
}

.delete-btn:hover {
    background-color: #f17294;
}

.hidden {
    display: none;
}

.visible {
    display: block;
    margin-top: 10px;
}

/* Profile picture shape styles */
.profile-picture.circle img {
    border-radius: 50%;
}

.profile-picture.square img {
    border-radius: 0;
}

.profile-picture.oval img {
    border-radius: 50% / 30%;
}

.profile-picture.rounded img {
    border-radius: 15px;
}

.profile-picture.rectangle img {
    width: 110px;
    height: 70px;
    border-radius: 0;
    border: 1px solid #ccc;
}

.profile-picture.hidden {
    display: none !important;
}